<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body bgcolor=PowderBlue>

<nav class="w3-bar w3-white">
  <a href=quadratic class="w3-button w3-bar-item">Quadratics</a>
  <a href=vertex class="w3-button w3-bar-item">Vertex</a>
 
</nav>
<section class="w3-container w3-center" style="max-width:1400px">
  <font size="50">
  <h2 class="w3-wide">Algebra</h2>

</section>
</body>
