<html>
	<head>
	</head>
	<style>
body {
  height: 100%;
  background: linear-gradient(to left top, LightCyan, LightGreen) fixed;
}
</style>
<center>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

	<body>
		
<nav class="w3-bar w3-white">
  <a href=geometry class="w3-button w3-bar-item">Back</a>
</nav>
		
		<h1>Area of Circle Finder</h1>
		
		<form action = 'circle' method = 'POST'>
			<p> radius: <input type = 'text' name = 'r'> </p>

		<input type="submit" value="Submit">
		</form>
		<p> area = {{area}} </p>
	</body>
</center>
</html>
