<html>
	<head>
	</head>
	<body>
		
		<h1>Cross Product of Two Vectors </h1>
		<h2>(a,b,c)x(d,e,f)</h2>
		<form action = 'crossproduct' method = 'POST'>
			<p> a?: <input type = 'text' name = 'a'> </p>
			<p> b?: <input type = 'text' name = 'b'> </p>
			<p> c?: <input type = 'text' name = 'c'> </p>
			<p> d?: <input type = 'text' name = 'd'> </p>
			<p> e?: <input type = 'text' name = 'e'> </p>
			<p> f?: <input type = 'text' name = 'f'> </p>
			
		<input type="submit" value="Submit">
		</form>
		<p> crossproduct = {{crossproduct}} </p>
	</body>
</html>


