<html>
	<head>
	</head>
	<body>
		
		<h1>Dot Product Finder</h1>
		<h2>y = <a,b,c> . <d,e,f> Enter a,b,c,d,e,f
		<form action = 'dot' method = 'POST'>
			<p> a: <input type = 'text' name = 'a'> </p>
			<p> b: <input type = 'text' name = 'b'> </p>
			<p> c: <input type = 'text' name = 'c'> </p>
      <p> d: <input type = 'text' name = 'd'> </p>
      <p> e: <input type = 'text' name = 'e'> </p>
      <p> f: <input type = 'text' name = 'f'> </p>
		<input type="submit" value="Submit">
		</form>
		<p> dot product = {{dotproduct}} </p>
	</body>
</html>
