<!DOCTYPE html>
<html>

<head>
<style>
body {
  height: 100%;
  background: linear-gradient(to left top, LightGreen, LightSeaGreen) fixed;
}
</style>
<link rel="stylesheet" href="style.css">
</head>
  

  
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>

<nav class="w3-bar w3-white">
  <a href=geometry class="w3-button w3-bar-item">Geometry</a>
  <a href=vectors class="w3-button w3-bar-item">Vectors</a>
  <a href="algebra" class="w3-button w3-bar-item">Algebra</a>
</nav>
<section class="w3-container w3-center" style="max-width:1400px">
  <font size="50">
  <h1 class="w3-wide">Welcome to Oligar's Math Help</h1>
  <h3 class="w3-wide" style="font-family:verdana;">Developed by Oligar Adelson, Ethan Chee, and Warren Sunada-Wong</h3>
</section>
<center>
<img src= {{url_for('static', filename = 'Math.jpg')}} alt="Welcome to Oligar">
  
  <p> <font size = +2> Please contact us at </font> <font size = +4 color = "red"> <b> oadelson20@newarka.edu! </b> </font> </p>
  <a href="https://www.gmail.com" > <font size = +2> Click here to email </font> </a>
</center>
</body>

